@using WebApplication.Models
@model List<Item>

<table>
    <thead>
        <tr>
            <th>
                Name:
            </th>
            <th>
                Description:
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model.OrderBy(u=>u.Id))
        {
        <tr>
            <td>
                @obj.Name
            </td>
            <td>
                @obj.Description
            </td>
            <td>
                <a asp-controller="Items" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-warning">Edit</a>
            </td>
            <td>
                    <a asp-controller="Items" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
